@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&family=Roboto&display=swap');

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
	padding: 0;
	margin: 0;
	border: none;
}

body{
    background: #000 url("../images/background.webp") no-repeat center center;
    background-size: cover;
    min-height: calc(120vh - 150px);
}

#logo{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: xxx-large;
    line-height: 1.5em;
    background-color: #fff;
    color: #000;
}

.main-label{
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 0.8em;
}

#user-name-label{
    padding: 16px 16px 16px 16px;
}

p, input,button { 
    font-family: 'Oswald', sans-serif;  
    font-size: xx-large;
    font-weight: bold;
}
input[type="text"]{
    border: 2px solid #000;
    padding: 4px 4px 4px 8px;
    margin-bottom: 10px;
}

#start-game-btn{
    padding: 8px 8px 8px 8px;
}