/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Background image */
#body-inner {
    background: #000000 url("../images/elephant-background.webp") no-repeat
        center center;
    background-size: cover;
    position: relative;
    min-height: calc(115vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Logo */
#logo {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: xxx-large;
    line-height: 1.5em;
    background-color: #fff;
    color: #000;
}

/* Main label on every screen */
.main-label {
    position: absolute;
    top: 20%;
    width: 50%;
    text-align: center;
    line-height: 50px;
    border-radius: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #fff;
}

/* pargraphs, button, fonts */
#user-name-label,
#choose-difficulty-panel,
#questions-sec,
#result-sec {
    padding: 16px 16px 16px 16px;
    clear: both;
}

p,
input,
button,
#no-user-name-msg,
#select-valid-difficulty {
    font-family: "Oswald", sans-serif;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 8px;
}
#choose-difficulty-panel > p {
    margin-top: 20px;
}
#no-user-name-msg,
#select-valid-difficulty {
    color: #ff0000;
}
input[type="text"] {
    border: 2px solid #000;
    padding: 4px 4px 4px 8px;
    margin-bottom: 10px;
}

/* Start and restart button */
#start-game-btn,
#restart-page-btn {
    padding: 8px 8px 8px 8px;
    margin-bottom: 4px;
}

#start-game-btn:hover,
#restart-page-btn:hover {
    color: #fff;
    background-color: #000;
}

/* Lists */
ul {
    font-family: "Oswald", sans-serif;
    list-style-type: none;
    border: 2px solid #000;
    border-radius: 0.8em;
    font-size: x-large;
}
li:hover {
    color: #fff;
    background-color: #000;
    border-radius: 0.8em;
    cursor: pointer;
}

/* User logo */
.user-logo-name {
    font-family: "Oswald", sans-serif;
    font-size: x-large;
    font-weight: bold;
    padding: 4px 0px 0px 4px;
    float: left;
    margin-left: 8px;
}

/* Timer logo */
.timer-logo {
    font-family: "Oswald", sans-serif;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 4px 0px 0px 4px;
    float: right;
    margin-right: 8px;
}

#score > p {
    font-size: large;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: xxx-large;
    background-color: #000;
    color: #fff;
    padding: 8px;
}

/* Font-awesome logos */
.fa-regular {
    margin-right: 8px;
}

/* Result panel */
#result {
    clear: both;
}
#load-result {
    display: none;
    background-color: #000;
    color: #fff;
}

/* For large Tablets */
@media screen and (max-width: 1250px) {
    #body-inner {
        min-height: calc(110vh - 150px);
    }
    .main-label {
        width: 80%;
    }
}
/* For Medium size Tablets */
@media screen and (max-width: 780px) {
    .main-label {
        width: 90%;
    }
    p,
    input,
    button,
    #no-user-name-msg {
        font-size: x-large;
        line-height: 40px;
    }
    h2 {
        font-size: xx-large;
    }
}

/* For Medium size Tablets */
@media screen and (max-width: 700px) {
    #body-inner {
        min-height: calc(170vh - 150px);
    }
    .main-label {
        line-height: 35px;
    }
}

/* For Small Tablets */
@media screen and (max-width: 500px) {
    #body-inner {
        min-height: calc(200vh - 150px);
    }
    input[type="text"] {
        width: -webkit-fill-available;
        font-size: 1.3em;
    }
}

/* For medium Mobiles */
@media screen and (max-width: 455px) {
    #body-inner {
        min-height: calc(115vh - 150px);
    }
    .main-label {
        top: 15%;
    }
}

/* For much smaller mobile screens */
@media screen and (max-width: 350px) {
    #logo {
        font-size: xx-large;
    }
    .main-label {
        width: 95%;
    }
    p,
    input,
    button,
    #no-user-name-msg,
    li {
        font-size: large;
        line-height: 25px;
    }
    h2 {
        font-size: x-large;
    }
}