@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&family=Roboto&display=swap');

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
	padding: 0;
	margin: 0;
	border: none;
}

#body-inner{
    background: #000000 url("../images/backgroundElephantLow.webp") no-repeat center center;
    background-size: cover;
    /* width : 100vw; */
    height: 100vh;
    /* min-height: calc(100vh - 150px); */
}

#logo{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: xxx-large;
    line-height: 1.5em;
    background-color: #fff;
    color: #000;
}

.main-label{
    background-color: #fff;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 50%;
    /* height: 70%; */
    text-align: center;
    border-radius: 0.8em;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#user-name-label, #choose-difficulty-panel,#questions-sec{
    padding: 16px 16px 16px 16px;
    /* margin-top: 5%; */
    line-height: 60px;
    /*  */
    clear: both;
}

p, input,button,#no-user-name-msg { 
    font-family: 'Oswald', sans-serif;  
    font-size: xx-large;
    font-weight: bold;
    margin-top: 8px;
}
#choose-difficulty-panel > p{
    margin-top: 20px;
}
#no-user-name-msg{
    color: #ff0000;
}
input[type="text"]{
    border: 2px solid #000;
    padding: 4px 4px 4px 8px;
    margin-bottom: 10px;
    /* width: -webkit-fill-available;
    font-size: 1.3em; */
}

#start-game-btn,#restart-page-btn{
    padding: 8px 8px 8px 8px;
    margin-bottom: 28px;
}

#start-game-btn:hover,#restart-page-btn:hover{
    color:#fff;
    background-color: #000;
}
ul {
    font-family: 'Oswald', sans-serif;  
    list-style-type:none;
    border: 2px solid #000;
    border-radius: 0.8em;
    font-size: x-large;
}
li:hover{
    color:#fff;
    background-color: #000;
    border-radius: 0.8em;
    cursor: pointer;
}
.user-logo-name{
    font-family: 'Oswald', sans-serif;  
    font-size: x-large;
    font-weight: bold;
    /* display: flex;
    align-items: center; */
    padding: 4px 0px 0px 4px;
    float: left;
    margin-left: 8px;
    position: absolute;
}

.timer-logo{
    font-family: 'Oswald', sans-serif;  
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 4px 0px 0px 4px;
    float: right;
    margin-right: 8px;
}


#score > p{
    font-size: large;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: xxx-large;
    background-color: #000;
    color: #fff;
    /* margin-top: 11%; */
}

.fa-regular{
    margin-right: 8px;
}
#result{
    clear: both;
    padding: 24px;
}
#load-result{
    display: none;
    background-color: #000;
    color: #fff;
}

/* Media Quries */
/* @media screen and (max-width: 1285px) {
    #body-inner{
        min-height: calc(120vh - 150px);
    }
} */

/* For large Tablets */
@media screen and (max-width: 1250px) {

    .main-label{
        width: 70%;
    }
}

/* For large to medium Tablets */
@media screen and (max-width: 950px) {
    /* #body-inner{
        min-height: calc(130vh - 150px);
    } */
    #body-inner{
        /* calc(140vh - 150px) */
        min-height: auto;
    }
    .main-label{
        width: 70%;
        /* top:60%; */
    }
}
/* For Medium size Tablets */
@media screen and (max-width: 700px) {
    #body-inner{
        /* calc(140vh - 150px) */
        min-height: auto;
    }
    .main-label{
        width: 90%;
        transform: translate(-50%, -50%);
        /* top:60%; */
    }
}

/* For Small Tablets */
@media screen and (max-width: 500px) {
    #body-inner{
        /* calc(140vh - 150px) */
        min-height: auto;
    }
    .main-label{
        width: 80%;
        top:60%;
    }

    input[type="text"]{
        width: -webkit-fill-available;
        font-size: 1.3em;
    }
}

/* For Mobile phones */
@media screen and (max-width: 455px) {
    #body-inner{
        min-height: auto;
        /* height: 90vh; */
    }

    .main-label{
        transform: translate(-50%, -50%);
        width: 90%;
        top: 50%;
    }
   
    p, input,button,#no-user-name-msg { 
        font-size: x-large;
        line-height: 40px;

    }
    h2{
        font-size: xx-large;
    }
}
@media screen and (max-width: 455px) {
    #body-inner{
        min-height: auto;
        /* height: 90vh; */
    }

    .main-label{
        transform: translate(-50%, -50%);
        width: 90%;
        top: 50%;
    }
   
    p, input,button,#no-user-name-msg { 
        font-size: x-large;
        line-height: 40px;

    }
    h2{
        font-size: xx-large;
    }
}
/* For much smaller mobile screens */
@media screen and (max-width: 350px) {
    #logo{
        font-size: xx-large;
    }
    .main-label{
        width: 95%;
        top: 50%;
    }

    p, input,button,#no-user-name-msg,li { 
        font-size: large;
        line-height: 40px;

    }
    h2{
        font-size: x-large;
    }

}







