@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&family=Roboto&display=swap');

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
	padding: 0;
	margin: 0;
	border: none;
}

body{
    background: #000000 url("../images/background.webp") no-repeat center center;
    background-size: cover;
    min-height: calc(100vh - 150px);
}

#logo{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: xxx-large;
    line-height: 1.5em;
    background-color: #fff;
    color: #000;
}

.main-label{
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 50%;
    height: 70%;
    text-align: center;
    border-radius: 0.8em;
}

#user-name-label, #choose-difficulty-panel,#questions-sec{
    padding: 16px 16px 16px 16px;
    margin-top: 15%;
    line-height: 60px;
}

p, input,button,#no-user-name-msg { 
    font-family: 'Oswald', sans-serif;  
    font-size: xx-large;
    font-weight: bold;
}
#no-user-name-msg{
    color: #ff0000;
}
input[type="text"]{
    border: 2px solid #000;
    padding: 4px 4px 4px 8px;
    margin-bottom: 10px;
}

#start-game-btn{
    padding: 8px 8px 8px 8px;
}

ul {
    font-family: 'Oswald', sans-serif;  
    list-style-type:none;
    border: 2px solid #000;
    border-radius: 0.8em;
}
li:hover{
    color:#fff;
    background-color: #000;
    border-radius: 0.8em;
}
.user-logo-name{
    font-family: 'Oswald', sans-serif;  
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 4px 0px 0px 4px;
}
.given-user-name{
    margin-left: 4px;
}



